STREAMFORGE_BACKEND_IMAGE=ghcr.io/lynn-lee/streamforge/backend-commercial:0.1.0-dev.8.4bd4718
STREAMFORGE_CONSOLE_IMAGE=ghcr.io/lynn-lee/streamforge/console-commercial:0.1.0-dev.8.4bd4718
STREAMFORGE_POSTGRES_IMAGE=postgres:16
STREAMFORGE_POSTGRES_DB=streamforge
STREAMFORGE_POSTGRES_USER=streamforge
STREAMFORGE_POSTGRES_PASSWORD=change-me
STREAMFORGE_CONSOLE_PORT=5174
STREAMFORGE_BACKEND_PORT=8080
STREAMFORGE_LICENSE_SERVER_URL=https://license.example.com
STREAMFORGE_LICENSE_PUBLIC_KEY=
STREAMFORGE_LICENSE_CUSTOMER_ID=
STREAMFORGE_LICENSE_DEPLOYMENT_ID=streamforge-private
STREAMFORGE_CDC_DRY_RUN=true
STREAMFORGE_BATCH_DRY_RUN=true
